<!DOCTYPE html>
<html>
{{>head}}


<body>
  <div class="jumbotron jumbotron-fluid">
    <div id="faixa" class="container-fluid">
      <div class="row align-items-center">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
          <img src="buddy_icone.png" alt="" height="150px">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
          <h1>Fluid jumbotron</h1>
          <p>This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
      </div>
    </div>
  </div>


  <form id="dummyForm" method="post">

    <div class="form-group">
      <label for="nome">
        <h5>Dummy:</h5>
      </label>

      <input type="text" required class="form-control form-control-lg" id="dummy" name="dummy"
        placeholder="Digite o texto">

    </div>



    <div class="row">

      <div class="col-6 align-items-center">

        <button id="submit" type="submit" type="button" class="btn btn-primary btn-center">Cadastrar</button>

      </div>

    </div>

  </form>
  {{#each dummyArray}}
    <ul>
      <li>{{ dummy }}</li>
    </ul>
  {{/each}}
</body>

</html>