<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Buddy</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div id="faixa" class="container-fluid">
      <div class="row align-items-center">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
          <img src="buddy_icone.png" alt="" height="150px">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
          <h1>Fluid jumbotron</h1>
          <p>This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
      </div>
    </div>
  </div>


  <p>{{ message }}</p>


</body>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</html>