$main-color: #64648f;

p {
    color: $main-color;
}

input::placeholder {
	font-size: 0.8em;
	font-style: italic;
  }
/* #faixa {
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 15px;
}

#conteudo{
    vertical-align: middle;
} */

@media (min-width: 1px) {
    h1 {
		font-size: 25px;
	}

	h2 {
		font-size: 22px;
	}

	h3 {
		font-size: 19px;
	}

	h4 {
		font-size: 17px;
	}

	h5 {
		font-size: 15px;
    }
    
    p {
        font-size: 12px;
    }
  }
  @media (min-width: 768px)  {
    h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 28px;
	}

	h4 {
		font-size: 25px;
	}

	h5 {
		font-size: 20px;
    }
    
    p {
        font-size: 15px;
    }
  }
  @media (min-width: 992px)  {
    h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 42px;
	}

	h3 {
		font-size: 37px;
	}

	h4 {
		font-size: 33px;
	}

	h5 {
		font-size: 28px;
    }
    
    p {
        font-size: 23px;
    }
  }
  @media (min-width: 1200px)  { 
    h1 {
		font-size: 60px;
	}

	h2 {
		font-size: 53px;
	}

	h3 {
		font-size: 47px;
	}

	h4 {
		font-size: 41px;
	}

	h5 {
        font-size: 35px;
    }
    
    p {
        font-size: 28px;
    }
 }