<head>

    <meta charset="utf-8">

    <title>CayresFin - Financial App</title>

    <link rel="shortcut icon" href="../../public/images/ico.ico">

    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script type="text/javascript" src="jquery.mask.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>




</head>

<body>

  <div class="jumbotron jumbotron-fluid">
    <div id="faixa" class="container-fluid">
      <div class="row align-items-center">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
          <img src="ico.jpg" alt="" height="150px">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
          <h1>CayresFin</h1>
          <p>Cayres financial app for personal management</p>
        </div>
      </div>
    </div>
  </div>